/* Main background */
.stApp{
    background-color: #1d1f27;
}


.stAppHeader{
    visibility: hidden;
}

#MainMenu, footer{
    visibility: hidden;
}

.block-container{
    padding-top: 1rem !important;
    padding-bottom: 0rem !important;
}

/*Titles on blue background*/
.main h1, .main h2, .main h3, .stMarkdown p{
    color: #ffffff !important
}

/*File uploader upload area*/
[data-testid="stFileUploader"]{
    background-color: #ffffff;
    padding: 20px;
    border-radius: 15px;
}

[data-testid="stFileUploaderFileName"],
[data-testid="stFileUploader"] label{
    color: #31333F !important;
    font:bold
}

/*Drag and drop text*/
[data-test="stFileUploader"] section {
    color: #333333 !important
}

/*File upload instructions*/
[data-test="stFileUploader"] label p{
    color: #ffffff !important;
    font-weight: bold;
}

/*Warning alerts*/
[data-testid="stNotification"] p{
    color: #1e1e1e !important
}

/*Style Table*/
.sthMarkdown table {
    width: 100%;
    background-color: #ffffff;
    color: #31333F;
    border-radius: 10px;
    border-collapse: collapse;
    margin-top: 20px;
}

/*Table Header*/
.stMarkdown table th {
    background-color: #f0f2f6;
    color: #004777;
    padding: 10px;

.thead-hide, .row_heading {
    display: none !important;
}

.blank {
    display: none !important;
}
}
